name: Release

on:
  push:
    branches-ignore:
      - '**'
    tags:
      - 'v*'
permissions:
  contents: write
  id-token: write

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codes
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ github.head_ref }}

      - name: Setup deno
        uses: denoland/setup-deno@v1
        with:
          deno-version: v1.x

      - name: Setup bun
        uses: oven-sh/setup-bun@v1

      - name: Setup Node
        uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
        with:
          node-version: 20

      - name: Enable corepack
        run: corepack enable

      - name: Update npm
        run: npm install -g npm@latest

      - name: Extract version tag
        if: startsWith( github.ref, 'refs/tags/v' )
        uses: jungwinter/split@7f51d99e7cc1f147f6f99be75acf5e641930af88 # v2.1.0
        id: split
        with:
          msg: ${{ github.ref }}
          separator: '/'

      - name: Create Github Release
        run: gh release create ${{ steps.split.outputs._2 }} --generate-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Generate changelog
        run: |
          git restore --source=HEAD --staged --worktree -- package.json bun.lockb
          bun install
          npm run build
          npm run changelog -- --tag=${{ steps.split.outputs._2 }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Commit changelog
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
        with:
          branch: main
          file_pattern: '*.md'
          commit_message: 'chore: sync changelog'

      - name: Publish package for NPM
        run: ./scripts/release.sh
        env:
          NPM_CONFIG_PROVENANCE: true

      - name: Publish package for JSR
        run: npx jsr publish
